@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background: #fbfafc;
  color: #73657f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  /* color: #371952; */
  color: #391d52;
  color: #5a3b75;
}

h1 {
  font-size: 1.75em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.75em;
}

.wrapper {
  text-align: center;
}

.grabbing {
  pointer-events: auto;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.modal {
  width: 100vw;
  max-width: 400px;
  box-sizing: border-box;
}

.modal-overlay {
  padding: 0;
}

@media (max-width: 380px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 1.3em;
  }
}

@media (max-width: 450px) {
  .modal {
    min-height: 100vh;
    min-width: 100vw;
  }
  .modal-overlay {
    display: block;
  }
}
