.error,
.success {
  border-radius: 4px;
  border: 1px solid;
  font-size: 0.8em;
  padding: 0 1em;
  margin: 0 0 1em 0;
}
/* .error,
.success {
  font-size: 0.9em;
  padding: 0 0.5em;
  margin: 0;
}

.error p {
  margin: 0.2em;
} */

.error {
  border-color: #d88ea9;
  color: #b42c5d;
  /* color: #a71a1a; */
  background-color: #faf4f6;
}

.success {
  border-color: darkseagreen;
  color: rgb(36, 116, 70);
  background-color: rgb(171, 204, 171);
}
